<!DOCTYPE html>
<html>

<hEad>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="theme-color " content="#050e29">
	<META name="robots" content="NOINDEX,nofollow">
	<meta name="bingbot" content="noindex">
	<meta name="msnbot" content="noindex,nofollow">

    {%block title%}
    {% endblock title%}
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap/css/custom.css">
<link rel="manifest" href="static/manifest.json">
<link rel="apple-touch-icon" href="static/img/icon-small.png">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/smoothproducts.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="static/JS/index.js"></script>
</head>
<meta charset="utf-8">
<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">WBO</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    {% if session.get('logged-in') %}

                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
                    {%else%}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    {%block content%}
    {% endblock content%}
</body>
</html>