<html>
    <head>
    	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="theme-color" content="#050e29">
        <title>{{title}}</title>
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap/css/custom.css">
<link rel="manifest" href="static/manifest.json">
<link rel="apple-touch-icon" href="static/img/icon-small.png">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/smoothproducts.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </head>
    <body>


<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">HWR</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    
                	<li>
                    	 <a href="{{url_for('WBO')}}">
            <button class="ink-button" >
               
              <img height="24px" width="24px" src="static/EXTERNAL/ICONS/home.svg">
            </button>
         </a>
                    </li>

                    <li>
                    	<button class="ink-button" onclick="selectPen();" id="pen-button">
              <img src="static/EXTERNAL/ICONS/create-icon.svg">
            </button>
                    </li>

                    <li>
                    	<button class="ink-button" onclick="selectEraser();" id="eraser-button">
              <img src="static/EXTERNAL/ICONS/eraser-icon.svg" height="24px" width="24px">
            </button>
                    </li>

                    <li>
                    	<button class="ink-button" onclick="ClearAll();">
              <img src="static/EXTERNAL/ICONS/clear_all-icon.svg">
            </button>
                    </li>

                    <li>
                    	<button class="ink-button" onclick="undo();" id="undo-button">
                <img src="static/EXTERNAL/ICONS/undo-icon.svg">
              </button>
                    </li>

                    <li>
                    	<button class="ink-button" onclick="redo();" id="redo-button">
                <img src="static/EXTERNAL/ICONS/redo-icon.svg">
              </button>
                    </li>


                    <li> <button class="ink-button" onclick="save();">
                <img src="static/EXTERNAL/ICONS/save-icon.svg">
              </button></li>
                </ul>
            </div>
        </div>
    </nav>


  <div id="sketching_area">
            <h1 id="output">{{character}}</h1>
    <canvas id="mainboard" style="position: fixed;"></canvas>
  </div>
    
    </body>
    <script>
const canvas=document.getElementById("mainboard");
const ctx=canvas.getContext("2d");
var tcanvas = document.createElement('canvas');
var tctx = tcanvas.getContext('2d');
const undo_button=document.getElementById("undo-button");
const redo_button=document.getElementById("redo-button");
canvas.width=tcanvas.width=window.innerWidth;
canvas.height=tcanvas.height=window.innerHeight;
document.getElementById("pen-button").style="background: #e5e5e5;outline: none;-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;-moz-box-shadow: inset 0px 0px 5px #c1c1c1;box-shadow: inset 0px 0px 5px #c1c1c1;"


tcanvas.id = 'tcanvas';
tcanvas.style="position:fixed";
sketching_area.appendChild(tcanvas);

var is_drawing=false;
var is_pen=true;

// Containers for storing coordinates
var points=[];
{%for stroke in data%}
var strk=[]
{%for cord in stroke%}
var xyz=String("{{cord}}")
xyz=xyz.replace(/&#39;/g,"\"");
xyz=JSON.parse(xyz);
strk.push(xyz);
{%endfor%}
points.push(strk);
{%endfor%}

redraw_all();
var redo_stack=[];
var current_stroke=[];

//color chooser

//Setting Default
var eraser_size=5//default
var pen_colour="#000000";
var pen_size=4;
tctx.lineWidth=ctx.lineWidth=pen_size;//default
tctx.lineCap=ctx.lineCap="round";
tctx.strokeStyle=ctx.strokeStyle=pen_colour;//default
tctx.lineJoin=ctx.lineJoin='round';


function mouse_start_draw(e)
{
   collapse_menus();
   is_drawing=true;
   tctx.beginPath();
   current_stroke=[];
   redo_stack=[];
   current_stroke.push
   (
      {
         x:e.offsetX,
         y:e.offsetY,
         width:ctx.lineWidth,
         color:ctx.strokeStyle
      }
   );

}

function touch_start_draw(e)
{
   collapse_menus();
   is_drawing=true;
   tctx.beginPath();
   current_stroke=[];
   redo_stack=[];
   current_stroke.push
   (
      {
         x:e.touches[0].pageX - e.touches[0].target.offsetLeft,
         y:e.touches[0].pageY - e.touches[0].target.offsetTop,
         width:ctx.lineWidth,
         color:ctx.strokeStyle
      }
   );

}
function collapse_menus()
{
	;
}


function mouse_stop_draw(e)
{
   is_drawing=false;
   current_stroke.push
   (
      {
         x:e.offsetX,
         y:e.offsetY,
         width:ctx.lineWidth,
         color:ctx.strokeStyle
      }
   );
   ctx.drawImage(tcanvas, 0, 0);
   tctx.clearRect(0, 0, tcanvas.width, tcanvas.height);
   //tcanvas.removeEventListener('mousemove', mouse_draw);
   points.push(current_stroke);
   current_stroke=[];
}

function touch_stop_draw(e)
{
   is_drawing=false;
   ctx.drawImage(tcanvas, 0, 0);
   tctx.clearRect(0, 0, tcanvas.width, tcanvas.height);
   //tcanvas.removeEventListener('mousemove', mouse_draw);
   points.push(current_stroke);
   current_stroke=[];
}

function mouse_draw(e)
{
   if(!is_drawing)
   return;

   if(is_pen)
   {
      current_stroke.push
   (
      {
         x:e.offsetX,
         y:e.offsetY,
         width:ctx.lineWidth,
         color:ctx.strokeStyle
      }
   );

      if (current_stroke.length < 3) {
         var b = current_stroke[0];
         tctx.beginPath();
         tctx.arc(b.x, b.y, tctx.lineWidth / 2, 0, Math.PI * 2, !0);
         tctx.fill();
         tctx.closePath();
         return;
       }
       
       // Tmp canvas is always cleared up before drawing.
       tctx.clearRect(0, 0, tcanvas.width, tcanvas.height);
       
       tctx.beginPath();
       tctx.moveTo(current_stroke[0].x, current_stroke[0].y);
       
       for (var i = 1; i < current_stroke.length - 2; i++) {
         var c = (current_stroke[i].x + current_stroke[i + 1].x) / 2;
         var d = (current_stroke[i].y + current_stroke[i + 1].y) / 2;
         
         tctx.quadraticCurveTo(current_stroke[i].x, current_stroke[i].y, c, d);
       }
       
       // For the last 2 points
       tctx.quadraticCurveTo(
         current_stroke[i].x,
         current_stroke[i].y,
         current_stroke[i + 1].x,
         current_stroke[i + 1].y
       );
       tctx.stroke();
       
     }
   else
   {
      ctx.clearRect(e.clientX-eraser_size, e.clientY-eraser_size-56, 2*eraser_size, 2*eraser_size);
      //its still an issue
   }

}

function touch_draw(e)
{
   if(!is_drawing)
   return;

   if(is_pen)
   {
      current_stroke.push
   (
      {
         x:e.touches[0].pageX - e.touches[0].target.offsetLeft,
         y:e.touches[0].pageY - e.touches[0].target.offsetTop,
         width:ctx.lineWidth,
         color:ctx.strokeStyle
      }
   );

      if (current_stroke.length < 3) {
         var b = current_stroke[0];
         tctx.beginPath();
         tctx.arc(b.x, b.y, tctx.lineWidth / 2, 0, Math.PI * 2, !0);
         tctx.fill();
         tctx.closePath();
         return;
       }
       
       // Tmp canvas is always cleared up before drawing.
       tctx.clearRect(0, 0, tcanvas.width, tcanvas.height);
       
       tctx.beginPath();
       tctx.moveTo(current_stroke[0].x, current_stroke[0].y);
       
       for (var i = 1; i < current_stroke.length - 2; i++) {
         var c = (current_stroke[i].x + current_stroke[i + 1].x) / 2;
         var d = (current_stroke[i].y + current_stroke[i + 1].y) / 2;
         
         tctx.quadraticCurveTo(current_stroke[i].x, current_stroke[i].y, c, d);
       }
       
       // For the last 2 points
       tctx.quadraticCurveTo(
         current_stroke[i].x,
         current_stroke[i].y,
         current_stroke[i + 1].x,
         current_stroke[i + 1].y
       );
       tctx.stroke();
       
     }
   else
   {
      ctx.clearRect(e.clientX-eraser_size, e.clientY-eraser_size-56, 2*eraser_size, 2*eraser_size);
      //its still an issue
   }

}

function undo()
{
   collapse_menus();
   if(points.length<1)
   return;

   var last_stroke=points.pop();
   redo_stack.push(last_stroke);
   redraw_all();
   
}

function redo()
{
   collapse_menus();
   if(redo_stack.length<1)
   return;
   var last_stroke=redo_stack.pop();
   points.push(last_stroke);
   redraw_all();
}

function redraw_all()
{
   ctx.clearRect(0,0,canvas.width,canvas.height);
   
   for(var j=0; j<points.length ; j++)
      {
         var Stroke=points[j];
         ctx.lineWidth=Stroke[0].width;
         ctx.strokeStyle=Stroke[0].color;
         ctx.beginPath();
         ctx.moveTo(Stroke[0].x, Stroke[0].y);
             
         if (Stroke.length < 3) {
            var b = Stroke[0];
            ctx.beginPath();
            
            ctx.arc(b.x, b.y, ctx.lineWidth / 2, 0, Math.PI * 2, !0);
            ctx.fill();
            ctx.closePath();
            continue;
          }

         for (var i = 1; i < Stroke.length - 2; i++) {
         var c = (Stroke[i].x + Stroke[i + 1].x) / 2;
         var d = (Stroke[i].y + Stroke[i + 1].y) / 2;
         
         ctx.quadraticCurveTo(Stroke[i].x, Stroke[i].y, c, d);
         }
         
         // For the last 2 points
         ctx.quadraticCurveTo(
         Stroke[i].x,
         Stroke[i].y,
         Stroke[i + 1].x,
         Stroke[i + 1].y
         );
         ctx.stroke();
   }
}

function ClearAll()
{
   collapse_menus();
   console.log(points);
   ctx.clearRect(0,0,canvas.width,canvas.height);
   points=[];
   
}

function selectPen()
{
   if(is_pen==false)
   {
      is_pen=true;
   }
}

function selectEraser()
{
   if(is_pen==true)
   {
   is_pen=false;
   }
}

function save()
{
   var fname=prompt("Enter File Name")
   points.push({filename:fname})
   fetch('/WBO',{
      method:"POST",
      headers: {
         "content-type":"application/json"
      },
      body:JSON.stringify(points)
   }).then(function (response) { // At this point, Flask has printed our JSON
      return response.text();
  }).then(function (text) {
      // Should be 'OK' if everything was successful
  });
  points.pop();
    //console.log(points);
   collapse_menus();
   //ipc.send('save-this-file',points);
}


tcanvas.addEventListener("mousedown",mouse_start_draw);
tcanvas.addEventListener("mouseup",mouse_stop_draw);
tcanvas.addEventListener("mousemove",mouse_draw);

tcanvas.addEventListener("touchstart",touch_start_draw);
tcanvas.addEventListener("touchend",touch_stop_draw);
tcanvas.addEventListener("touchmove",touch_draw);

undo_button.addEventListener("mouseenter",function()
{
   if(points.length==0)
      undo_button.style.cursor="not-allowed"
   else
      undo_button.style.cursor="hand";
})
redo_button.addEventListener("mouseenter",function()
{
   if(redo_stack.length==0)
      redo_button.style.cursor="not-allowed";
   else
      redo_button.style.cursor="hand";

})
colorButton.onchange = function() {
   console.log(colorButton.value);
   tctx.strokeStyle=colorButton.value;
}
window.onbeforeunload = function() { return "Your work will be lost."; };
tcanvas.addEventListener("mouseenter",function()
{
   
      tcanvas.style.setProperty("cursor","url('static/external/CURSORS/dot.cur'), auto","");
})


    </script>
</html>